
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;

  }
  .container{
    display: flex;
    align-items: center;
    margin-top: 100px !important;

  }
  .login-form {
    width: 300px;
  }
  .login-form-p{
    font-weight: 600;
    color:#525252 ;
  }
  .login-form h2{
    color: #000000;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
    background-color:#487a80  ;
    font-weight: 600;
    letter-spacing: 2px;
   color: #fff;

  }
  .login-form-button:hover{
    background-color:#406b72 !important;
  }
  .lItem {
    width:300px;
    text-align: center;
   
  }
  
  .loginForm {
    background-color: rgb(255, 255, 255);
    /* border-radius: 8px; */
    border: 1px solid #d8d8da;
  }
  .loginImage {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 80px;
  }
  
  Input {
    height: 40px;
    border-color: #ccc !important;
  }
  
  label {
    color: red;
    text-align: left !important;
    display: flex;
  }