
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:rgb(238, 250, 245);
    display: flex;
    justify-content: center;

  }
  .container1{
    display: flex;
    align-items: center;
    margin-top: 200px !important;

  }
  .jack{
    display: flex;
  }
  .login-form {
    width: 300px;
  }
  .login-form h2{
    color: #000000;
    letter-spacing: 2px;
    text-align: center;

    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
    background-color:#487a80 !important;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;


  }
  .login-form-button:hover{
    background-color:#406b72 !important;
  }
  .lItem {
    width:300px;
    text-align: center;

  }
  
  .loginForm {
    background-color: rgb(255, 255, 255);
    /* border-radius: 8px; */
    border: 1px solid #d8d8da;
   
  }
  .login-form-p{
    font-weight: 600 !important;
    color:#7c7c7c ;
    text-align: center;
  }
  
  
  Input {
    height: 40px;
    margin-bottom: 1rem;
  }
  
  .loginImage {
    /* margin-top: 20px; */
    margin-left: -85px;
  }
  label {
    color: red;
   /* text-align: left !important; */
    display: flex;
    margin-bottom: -15px;
  }